# Default ignored files
/shelf/
/workspace.xml
# Datasource local storage ignored files
/../../../../:\goCode\go-jvm\.idea/dataSources/
/dataSources.local.xml
# Editor-based HTTP Client requests
/httpRequests/
